@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pixelify+Sans:wght@400..700&display=swap');

/* Estilos globais */
body {
    background: #a0c8ef; /* Azul escuro */
    color: #FFFFFF; /* Texto em branco */
    margin: 10px;
    padding-bottom: 20px;
    font-family: "Pixelify Sans", sans-serif;
}

/* Estilos do cabeçalho */
header {
    color: #000000; /* Dourado */
    text-align: center;
    margin-bottom: 50px;
}

.Logo {
    width: 200px;
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
h2, h3{
    color: #000000; /* Dourado */
}
/* Estilos das seções */
section {
    margin-bottom: 30px;
    padding: 20px;
    border: 2px solid #000000; /* Borda dourada */
    border-radius: 4px;
    background-color: #6692bd; /* Azul escuro */
}

section h2 {
    color: #000000; /* Dourado */
    text-align: center;
}

/* Estilos das listas */
ul, ol {
    list-style-type: disc;
    margin-left: 20px;
}

/* Estilos dos contatos */
.contatos a {
    display: block;
    width: 120px;
    margin: 0 auto 10px;
    padding: 10px;
    border: 2px solid #000000; /* Borda dourada */
    border-radius: 6px;
    background: #000000; /* Fundo dourado */
    color: #ffffff; /* Texto preto */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.contatos a:hover {
    background: #FFFFFF; /* Fundo branco ao passar o mouse */
    color: #000000; /* Texto preto ao passar o mouse */
}

/* Estilos do rodapé */
footer {
    text-align: center;
    margin-top: 50px;
    color: #ffffff; /* Texto dourado */
}