body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: coral;
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0 10px;
}

nav a:hover {
    color: #777;
}

section {
    padding: 20px;
}

.portfolio-item {
    margin-bottom: 30px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}
.container{
    display: flex;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    width: 100px;
    color: white;
    background: red;
    height: auto;
    border: solid 2px;
    border-radius: 6px;
}

footer {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
